<div class="product-image">
    <img src="2.jpg" alt="prdouct-image">
</div>
<div class="card-content">
    <div class="product-name">
        <span class="bold">نام کالای خود</span>
    </div>
    <div class="product-discription">
        <span class="light">توضیحات مربوط به کالای خود را در این قسمت وارد کنید</span>
    </div>
    <div class="product-user-image">
        <img src="avatar.png" alt="">    
    </div>
    <span class="product-user-name normal">username</span>
</div>
