
@font-face {
  font-family: Vazir;
  src: url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/');
  src: url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/?#iefix') format('embedded-opentype'),
       url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.woff') format('woff'),
       url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.ttf') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Vazir-bold;
  src: url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.eot');
  src: url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.woff') format('woff'),
       url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir-light;
  src: url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot');
  src: url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
       url('./../fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
  font-weight: 300;
}
.image-uploade-zone {
    width: 120px;
    height: 120px;
    border: 1px dashed #bdbdbd;
    color: #bdbdbd;
    border-radius: 3px;
    text-align: center;
    line-height: 120px;
    margin: 5px 3px 0;
    cursor: pointer;
    margin-right: 35px;
}
.uploade-img {
  width: 125px;
  height: 125px;
}
.register-btn, .logout-btn {
  display: inline-block;
}
.register-btn::before {
  content: url("icons/person.svg");
  margin-left: 5px;
 margin-right: -8px;
}
.logout-btn::before {
  content: url("icons/box-arrow-right.svg");
  margin-left: 5px;
 margin-right: -8px;
}
button.list-group-item {
  text-align: right !important;
}
button.list-group-item.active, button.list-group-item.active:focus, button.list-group-item.active:hover {
  background-color: #00d8ff;
  border-color: #00d8ff;
}
.profile-pic {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.card {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 4px;
  height: max-content;
}