@font-face{
    font-family: vazir-b;
    src: url(/fonts/vazir-font-v18.0.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff);
    font-weight: 800;
}
@font-face{
    font-family: vazir-m;
    src: url(/fonts/vazir-font-v18.0.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff);
    font-weight: normal;
}
@font-face{
    font-family: vazir-l;
    src: url(/fonts/vazir-font-v18.0.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff);
    font-weight: lighter;
}
:root{
    --cyan: #00ccff;
    --red: #ff0000;
    --grey: #f1f1f1;
    --darkgrey: #d4d4d4
}

.red{
    color: var(--red);
}
.cyan{
    color: var(--cyan);
}
.bold{
    font-family: vazir-b;
    font-weight: 800;
}
.light{
    font-family: vazir-l;
}
.normal{
    font-family: vazir-m;
}
.site-name{
    font-size: 40px;
}
body{
    margin: 0;
    font-size: 16px;
    width: 100%;
    max-width: 1800px;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
    font-family: vazir-m;
}
.header{
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 1rem;
    text-align: center;
}
.header-parts{
    align-items: center;
    text-align: center;
}
.search{
    margin-right: 1em;
    width: 100%;
}
.search > input{
    width: 100%;
    border-radius: 25px;
    border: none;
    background-color: var(--grey);
    height: 40px;
    padding-right: 1.3em;
}
.search input:focus{
    outline: none;
    background-color: var(--darkgrey);
}
.search button{
    position:relative;
    border: none;
    background-color: var(--grey);
    margin-left: 45px;
    float: left;
    margin-top: -36px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor:pointer;
}
.search button:focus{
    background-color: var(--darkgrey);
}
.search button:first-of-type{
    margin-left: 8px;
}
.search button:nth-of-type(2){
    margin-left: 45px;
}
.search>button>img{
    margin-right: -10px;
    width: 30px;
    height: 30px;
}
.search>button:focus{
    outline: none;
}
.logo>img{
    width: 60px;
    top: 10;
    right: 30;
}
.account>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.transactions>img{
    width: 50px;
    height: 50px;
    /* border-radius: 50px; */
}
.notification>img{
    width: 50px;
    height: 50px;
    /* border-radius: 50px; */
}
.card{
    position: absolute;
    top: 0;
    right: 0;
    height: min-content;
    width: 205px;
    padding: 8px 2px;
    border: none;
    border-radius: 25px;
    justify-content: center;
    overflow: hidden;
}

.product-image > img{
    width: 100%;
    border-radius: 25px;
    min-height: 200px;
    max-height: 420px;
    object-fit: cover;
}
.card-content{
    padding: 0 12px;
}
.product-name{
    margin-top: 6px;
}
.product-discription{
    padding: 7px 0
}
.product-discription>span{
    line-height: 20px;
}
.product-user-name{
    padding: 4px 0px;
    margin-right: -20px;
}
.product-user-image>img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

@media(max-width:970px){
    .header{
        margin: 0;
        margin-top: 0.5rem;
    }
}
@media(max-width: 400px){
    .logo>img{
        width: 40px;
    }
    .product-user-name{
        margin-right: 0;
    }
}